<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VideoBlock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Tipo Pelicula
          </a>
         
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/tipopelicula-lista']">Lista</a>
            <a class="dropdown-item" [routerLink]="['/tipopelicula-save']">Guardar</a>
          </div>
        </li>
          <li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
           Pelicula
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/tipopelicula-lista']">Lista Tipo Peliculas</a>
          <a class="dropdown-item" [routerLink]="['/peliculas-lista']">Peliculas</a>
        </div>
      </li>
        <li>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
           Actores
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/tipopelicula-lista']">Lista Tipo Peliculas</a>
          <a class="dropdown-item" [routerLink]="['/peliculas-lista']">Peliculas</a>
          <a class="dropdown-item" [routerLink]="['/actor-list']">Actores</a>
        </div>
      </li>
       <li> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
           Cliente
         </a>
         <div class="dropdown-menu" aria-labelledby="navb arDropdown">
          <!-- <a class="dropdown-item" [routerLink]="['/tipopelicula-lista']">Lista Tipo Peliculas</a>
          <a class="dropdown-item" [routerLink]="['/peliculas-lista']">Peliculas</a> -->
          <a class="dropdown-item" [routerLink]="['/cliente-list']">Listar</a>
          <a class="dropdown-item" [routerLink]="['/cliente-save']">Guardar</a>
        </div>
      </li>
        
        
        <li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
           Alquiler
         </a>
         <div class="dropdown-menu" aria-labelledby="navb arDropdown">
          <!-- <a class="dropdown-item" [routerLink]="['/tipopelicula-lista']">Lista Tipo Peliculas</a>
          <a class="dropdown-item" [routerLink]="['/peliculas-lista']">Peliculas</a> -->
          <a class="dropdown-item" [routerLink]="['/alquiler-list']">Listar</a>
          <a class="dropdown-item" [routerLink]="['/alquiler-save']">Guardar</a>
        </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>